$primary-color: hsla(333, 26%, 32%, 1);
$secondary-color: hsla(321, 76%, 10%, 1);
$background-color: hsla(281, 41%, 88%, 1);
$tertiary-color: hsla(357, 26%, 42%, 1);
$highlight-color: hsla(43, 100%, 67%, 1);