@import '../common/constants';

.footer {
  text-align: center;
  background: $primary-color;
  color: $highlight-color;
  margin: 0 auto;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border: 0.2rem solid $secondary-color;
  display: flex;
  justify-content: space-around;

  a {
    color: inherit;
    text-decoration: inherit;
  }

}
