@import '../common/constants';

.header {
  text-align: center;
  background: $primary-color;
  color: $highlight-color;
  padding: 1rem;
  margin: 0 auto;

  h1 {
    font: {
      size: 3rem;
      family: $header-font;
    }
  }
}